# Local Supabase PostgreSQL Database URL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:54322/postgres
# For admin-level tasks in python that require the Supabase client
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY_HERE
